/* EventsPage.css */

.events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ddd0c8;
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* limit maximum width */
  margin: 0 auto; /* center the grid */
}

/* Display grid with 2 columns when screen is wider than 350px */
@media (min-width: 350px) {
  .events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr; /* make all rows (and therefore all cards) the same height */
    gap: 20px; /* set the gutters between the grid columns and rows */
  }
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* distribute space evenly */
  padding: 20px;
  border: 2px solid #323232; /* Add a 2px solid black border */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #ddd0c8; /* light gray background */
  transition: transform 0.3s ease-in-out; /* smooth hover effect */
  height: 100%; /* make the card fill the grid cell */
  font-family: "Roboto", sans-serif; /* modern, clean font */
}

.event-card:hover {
  transform: scale(1.05); /* slightly enlarge the card on hover */
}

.event-card img {
  width: 200px; /* specify the width */
  height: 200px; /* specify the height */
  object-fit: cover;
  border-radius: 10px; /* rounded corners */
}

.event-card h2 {
  margin: 10px 0;
  color: #0d47a1; /* dark blue text */
  font-size: 1.5em; /* larger, more prominent title */
}

.event-card p {
  color: #666; /* light gray text */
  margin-bottom: 10px; /* space out the paragraphs */
}

.add-event-button {
  margin-top: 40px; /* add more space above the button which should override Chakra UI styling */
  align-self: center; /* center the button horizontally */
  border: none; /* remove default button border */
  padding: 15px 32px; /* add some padding */
  text-align: center; /* center the text */
  text-decoration: none; /* remove default button underline */
  display: inline-block;
  font-size: 16px;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
  transition-duration: 0.4s; /* smooth hover effect */
  cursor: pointer; /* change cursor to a hand when we hover over the button */
}

.add-event-button:hover {
  background-color: #ddd0c8;
  color: #323232;
}
